
.ourfriends {
    padding: 200px 0px 101px 0px;
    background-color: $color-light-l;
}

.ourfriends__title {
    text-align: center;
    h3 {
        @include h3;
    }
}

.ourfriends__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
}

.ourfriends_slide {
    margin-bottom: 30px;
}

.header_pet {
    background-color: #fff;
}

.header-wrapper_pet {
    padding-top: 30px;
}

.list__item_pet {
    height: 60px;
}